@using DiplomMagister.Classes.StaticData
@model CreateQuestionViewModel;
@{
    <p>@Model.Tittle</p>
    <p>@Model.Essence</p>
    <p>@Model.QuestionType.GetEnumDescription()</p>
    <p>@Model.Tittle</p>
    <p>@Model.Tittle</p>
}
